body{
  background-color: whitesmoke !important;
}

html, body, .cover{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
h2{
  font-size: 48px;
  color: #3FBF6B;
}

h3{
  font-size: 30px;
  color: #3FBF6B;
}
h4{
  color: #3FBF6B
}
h5{
  color: #3FBF6B
}

p{
  font-size: 20px;
}

.navbar{
  background-color: #3fbf6b;
  font-size: 16px;
  font-family: "poppins", cursive;
}

.navbar a {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}
.dropdown-item{
  background-color: white !important;
}

#home:hover{
  color: rgba(0, 0, 0, 0.75)
}

#dropDownMenu:hover{
  color: rgba(0, 0, 0, 0.75)
}

#shoppingCartDropDown{
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  margin-right: 225px;
  border-radius: 3px;
  padding: 20px;
}

.badge-light{
  color: rgba(0, 0, 0, 0.5);
}

#shoppingCartDropDown:hover{
  cursor: pointer;
}
#checkoutButton:hover{
  background-color: rgba(0, 0, 0, 0);
}
.welcome{
  color: #3fbf6b;
  font-size: 58px;
  font-family: "poppins", cursive;
}

.fa-leaf{
  color: #3fbf6b;
}

.green{
  color: #3fbf6b;
}

.btn{
  background-color: #3fbf6b !important;
  border: #3fbf6b !important;
  color: whitesmoke !important;
}

.btn:hover{
  background-color: #5ee08c !important;
  border: #3fbf6b !important;
}

.btn a{
  color: white
}

.fa-plus-circle, .fa-minus-circle{
  color: #3FBF6B;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.fa-plus-circle:hover, .fa-minus-circle:hover{
  color: #5ee08c;
  cursor: pointer;
}

.fa-plus-circle:active, .fa-minus-circle:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.kratomInfo{
  margin-top: 65px;
}

.img1{
  height: 325px;
  width: auto;
  border-radius: 10px;
}

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 5px;
  }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.overlay:hover .image {
    opacity: 0.3;
  }
  
.overlay:hover .middle {
    opacity: 1;
  }

.productDisplay{
  background-color: whitesmoke;
  border: none
}
.card-body{
  border: solid 1px #3FBF6B
}
#owner{
  border-radius: 50%;
}
form label{
  color: #3FBF6B;
  font-weight: bold;
}

.footer{
  background-color: #3fbf6b;
  color: rgba(0, 0, 0, 0.5)
}

.footer p {
  font-size: 16px;
}

.footer a{
  color: rgba(0, 0, 0, 0.5);
}

.card-text{
  font-size: 16px;
}

.underscore {
  background-color: #3FBF6B;
  width: 75px;
  border: #3FBF6B 3px solid;
  border-radius: 5px;
}

#closeUp{
  border-radius: 5px;
}

.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    width: 300px;
  }

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #3fbf6b;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #3fbf6b;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #3fbf6b;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #3fbf6b;
    font-weight: 600;
    text-decoration: none;
}
  